<h3 class='country-title'>{{name}}</h3>
<div class='container'>
  <div class='country-info'>
    <p>Capital: <span class='country-info-data'>{{capital}}</span></p>
    <p>Region: <span class='country-info-data'>{{region}}</span></p>
    <p>Phone codes: </p>
    <ul class='country-langs'>
      {{#each callingCodes}}
        <li class='coutry-lang-item'>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{!-- <div class='country-flag'>
    <img class='flag-img' src='{{flag}}' alt='country flag image' />
  </div> --}}
</div>